.form {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(237, 244, 246, 0.5);
  border: 1px solid #d8e1e9;
  border-radius: 10px;
  margin-top: 25px;
  font-size: 14px;
}

.form button {
  position: relative;
  margin-left: 40px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: rgba(255, 255, 255, 0);
  outline: none;
  cursor: pointer;
}

.form .h-line,
.form .v-line {
  position: absolute;
  display: block;
  background-color: #08a0f7;
}

.form .h-line {
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.form .v-line {
  height: 100%;
  width: 2px;
  right: 50%;
  top: 0;
  transform: translateX(50%);
}

.form input {
  margin-left: 30px;
  padding: 12px;
  width: 414px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0);
}

.form input:focus {
  background: #ffffff;
  outline: 1px solid #08a0f7;
  border-radius: 8px;
}
